<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6kUEsIL-xX17H5BwTn_wS7TMiCD4p5R8</string>
	<key>GCM_SENDER_ID</key>
	<string>712285714026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.noname.FriendsBill-iOS16-6</string>
	<key>PROJECT_ID</key>
	<string>friends-bill-ios16-5</string>
	<key>STORAGE_BUCKET</key>
	<string>friends-bill-ios16-5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712285714026:ios:c7dbe558fed19d35f9fc13</string>
</dict>
</plist>